.content-body{
    margin-top:2em;
    margin-left:2em;
    
    margin-right: 2em;
}
.login-logo{
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:5em;
}
.login-logo h1{
    color:#FFFFFF;
    text-align: center;
}
.analyze{
    background-color:#009688;
    text-align:center;
    color:#FFFFFF;
}
.analyze h3{
    line-height: 2.4em;
}
.analyze p{
    line-height: 2em;
}
.analyze a{
    color:#FFFFFF;
}

.item{
	/*height:8em;*/
	/* background-color: #F0F0F0; */
    /*border:1px solid #e2e2e2;*/
    border-radius: 2px;
    background-color: #009688;
    color:#FFFFFF;
    text-align:center;
    margin-bottom:1em;
    line-height:3em;
    
}
.item a{
	color:#F2F2F2;
}
.item:hover{
	-webkit-box-shadow: 2px 2px 8px 1px rgba(20, 20, 20, 0.15); -moz-box-shadow: 2px 2px 8px 1px rgba(20, 20, 20, 0.15);box-shadow: 2px 2px 8px 1px rgba(20, 20, 20, 0.15);
}
.item i{
    font-size: 1em;
}
/* msg弹窗提醒 */
.msg{
    width:auto;
    line-height: 16px;
    position: fixed;
    top:2em;
    border: 1px #009933 solid;
    border-radius: 3px;
    display: none;
}
.admin-msg{
    background-color: #f2f2f2;
    line-height: 14px;
    padding:1em;
    border-radius: 5px;
    color:#888888;
}
.admin-msg a{
    color:#01AAED;
}
/* 上传按钮 */
#up_html{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    margin-bottom: 2em;
    -moz-box-sizing: border-box; /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box; 
    left:0%;
}

/* 后台设置提醒 */
.setting-msg{
    width:100%;
    color: #FF5722;
    border-left: 3px solid #FF5722;
    background-color: #F0F0F0;
    padding:0.8em;
    border-radius: 1px;
    margin-bottom:2em;
    -moz-box-sizing: border-box; /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box; 
}
.setting-msg a{
    color:#01AAED;
}
/* 占位用 */
.place-holder{
    padding-bottom: 3em;
}
.screenshot {
    height:220px;
}
.screenshot img{
    max-width: auto;
    max-height: 200px;
}

#progress{
    display:none;
    margin-top:1em;
}
